$primary-color: #f4e041;

$secondary-color: #00bdd3;

$main-black: #000000de;

$main-white: #fff;

$placeholder-color: #7e7e7e;

$error-color: #cb3d40;

$input-border: #d0cfcf;

$body-color: #f8f8f8;

$max-width: 1170px;

$width-sm: 328px; // inputs, cards etc.
$width-md: 380px; // --||--

$breakpoint-sm: 480px; // mobiles
$breakpoint-md: 768px; // tablets
$breakpoint-lg: 1024px; // notebooks
$breakpoint-xl: 1440px; // desktop
$breakpoint-xxl: 1920px; // big screen
