@use "../../../styles/variables" as *;
@use "../../../styles/mixins" as *;

.wrapper {
  position: relative;
}

.ellipsisText {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}

.tooltip {
  max-width: calc(100vw - 20px);
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  font-size: 12px;
  background-color: #333;
  color: white;
  padding: 6px 12px;
  border-radius: 6px;
  white-space: nowrap;
  z-index: 100;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);

  &.veryLongText {
    white-space: normal;
    max-width: 280px;
    overflow-wrap: break-word;
    left: -55px;

    @include media-md {
      max-width: 350px;
    }
  }

  @include media-md {
    font-size: 14px;
    padding: 8px 16px;
  }
}
