@use "../../../styles/variables" as *;

.button {
  background-color: $primary-color;
  width: 100px;
  height: 34px;
  border-radius: 80px;
  color: $main-black;

  &:hover {
    background-color: #ffe302;
  }

  &:disabled {
    background-color: #b4b4b4;
    color: #ffffffde;
  }
}
