.userListWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.userListCardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
