@use "../../../styles/variables" as *;

// Label for the radio input with custom styling
.radioLabel {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
  padding-left: 32px;
  font-size: 16px;
  line-height: 26px;
}

// Hide the native radio input visually, but keep it accessible
.radioInput {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

// Custom radio outer circle (border)
.radioLabel::before {
  content: "";
  position: absolute;
  left: 0;
  top: 3px;
  width: 20px;
  height: 20px;
  border: 1px solid $input-border;
  border-radius: 50%;
  transition: 0.2s;
}

// Change border color on checked state
.radioInput:checked + .radioLabel::before {
  border-color: $secondary-color;
}

// Custom radio inner dot
.radioLabel::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 8px; // Center the dot vertically inside the 20x20 circle
  width: 10px;
  height: 10px;
  background: $secondary-color;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.2s;
}

// Show the inner dot when radio is checked
.radioInput:checked + .radioLabel::after {
  opacity: 1;
}
