@use "./styles/variables" as *;

.contentWrapper {
  margin-top: 140px;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 140px;
}

.successImageContainer {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-bottom: 20px;
}

// MEDIA--------------------

@media (min-width: $breakpoint-xl) {
  .contentWrapper {
    padding: 0;
  }
}
