@use "./styles/variables" as *;
@use "./styles/mixins" as *;

.contentWrapper {
  margin-top: 140px;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 140px;

  @include media-xl {
    padding: 0;
  }
}

.successImageContainer {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-bottom: 20px;
}
