@use "./styles/variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital@0;1&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
  color: $main-black;
  background-color: $body-color;
}

main {
  max-width: $max-width;
  margin: 0 auto;
  overflow: hidden;
}

h1 {
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
}

p,
button,
input,
label {
  font-family: inherit;
  font-size: 16px;
  line-height: 26px !important;
}

input[type="radio"],
label,
button {
  cursor: pointer;
}

button {
  outline: none;
  border: none;

  &:disabled {
    cursor: default;
  }
}
